<%-include("./header.ejs") %>
    <!--main tag start-->

    <main>
        <!--container start -->
        <div class="container">
            <!--heading start -->
            <div class="row mt-5">
                <div class="col-md-12 fontset">
                    <h1 class="responsive-font" style="font-size: 58px; font-weight:600;">India’s Leading Research &
                        Innovation</h1>
                </div>
                <div class="col-md-12 fontset">
                    <h1 class="responsive-font" style="font-size: 58px; font-weight:600;">Driven Pvt. University.</h1>
                </div>
                <div class="col-md-12 fontC">
                    <h3 class="mt-3 fontH" style="color: #194880; font-weight: 600;">About University</h3>
                </div>
            </div>
            <!--heading end -->
            <!-- paragraph start  -->
            <p class="col-md-12" style="text-align: justify;">
                Amity University Madhya Pradesh (AUMP) was established by Ritnand Balved Education Foundation (RBEF) at
                Gwalior by Madhya Pradesh Niji Vishwavidyalaya (Sthapna Avam Sanchalan) Adhiniyam – 2007 and Dwitiya
                Sanshodhan Adhiniyam (No. 27 of 2010) vide State Government Notification No. 7692-406 dated 30 Dec 2010,
                with the view to promote professional, industry-oriented education in the state of Madhya Pradesh. Amity
                University Madhya Pradesh, Gwalior located on a <b>sprawling campus of 102 acres of land</b>opposite
                Gwalior
                Airport, imparts modern, practical and research-oriented courses which lead to the development of
                professionals who are employable and industry ready. This in turn drives the socio-economic upliftment
                of
                the region.
                <br>
                <br>
                Amity University Madhya Pradesh (AUMP) imparts education in almost all areas including management,
                engineering, architecture, biotechnology, law, Journalism & mass communication, behavioral science,
                Psychology, fashion, Political Science, Pharmacy etc.
                <br>
                <br>
                AUMP has <b>state of the art infrastructure</b> with modern amenities which matches with the best across
                the
                country and is of international standards. The whole campus is wi-fi enabled. Electricity is available
                24X7
                and all the buildings are air conditioned.
                <br>
                <br>
                The university has its <b>own intranet named AMIZONE (Acronym for Amity Intranet Zone),</b> which is
                equipped to
                store all the academics and administrative data of the university, thus promoting digitalization.
                Session
                Plans, Lesson Plans, Examination Details, Fee Details, Payment Details, Attendance Report, Grievance
                Redressal, and other administrative details are all available through AMIZONE. The students can access
                study
                materials and tutorials anytime, anywhere which is a step towards beyond class room teaching. Mentor
                Mentee
                systems are in placed in the campus with an objective of mentoring and recognizing the potential of
                students
                and help improve their self-esteem and confidence. Apart from this trained counsellors have been
                appointed
                to provide prompt assistance on issues related to health and emotional wellness.
                <br>
                <br>
                <b>The courses offered by AUMP are evaluated regularly </b> to achieve the course objectives based on
                the
                feedback
                on placement, employability and latest development in technology to keep pace with the changing times.
                Faculties and students of AUMP are encouraged to carry out industry oriented cutting edge research work
                in
                the university. The faculties of AUMP have been successful in getting several sponsored projects from
                various state and national funding agencies.
                <br>
                <br>
                Grooming and etiquette, Communication Enhancement Classes, Behavioural Science, One Foreign Language,
                <b>Pre-placement Training Classes, and Aptitude Training Classes</b> are a part of curriculum, which
                helps
                in
                overall development of the students.<b> The University offers a Choice Based Credit System, wherein a
                    student
                    can select any one of the 38 minor tracks across discipline.</b>
                <br>
                <br>
                In terms of placement,<b> AUMP has consistently achieved outstanding results, with an average annual
                    campus
                    placement rate exceeding 90% </b>over the past five years (2018-2019, 2019-2020, 2020-2021,
                2021-2022,
                and
                2022-2023). Notably, the highest annual CTC offered last year was INR 14.95 Lac by CISCO, and this year,
                it
                has reached INR 34.5 Lac PA, offered by COMMVAULT. The average annual CTC package has also seen a
                remarkable
                20% improvement compared to the previous year.
                <br>
                <br>
                <b>
                    The University was ranked under Top 200 in the University Category by National Institutional Ranking
                    Framework (NIRF) India Ranking 2020 and Amity Institute of Engineering Technology was all India
                    ranked
                    between 151-200 rank band in the year 2023, 153rd in the year 2022, 154th in the year 2021 and 162nd
                    in
                    the
                    year 2020 in Engineering Category.</b>
                <br>
                <br>
                <>
                    Amity University Madhya Pradesh was awarded as the Best Private University in Madhya Pradesh in
                    years
                    2014
                    by CMAI Association of India and in years 2017, 2018 and 2019 by Dialogue India Group. Amity
                    University
                    Madhya Pradesh was also awarded Excellent Higher Education University in India by CMAI Association
                    of
                    India
                    in 2017. The University was awarded “Utkrisht Vishwavidyalaya Samman” by Madhya Pradesh Private
                    University
                    Regulatory Commission, Bhopal in 2018. The University has bestowed with ‘Excellent University Award
                    2020’ by
                    Zee News. AUMP has been awarded a Five Star Rating under “Eat Right Campus” Competition conducted by
                    Food
                    Standard, Safety Authority of India under the aegis of “Eat Right India” campaign launched by Govt.
                    of
                    India. The University also rated 3 Star in University ranking released by Institutions’ Innovation
                    Council,
                    Ministry of Education 01 Dec 2021. The University was secured 2nd rank under band performer in Atal
                    Ranking
                    of Institutions on Innovation Achievements (ARIIA Ranking 2021).
                    <br>
                    <br>
                    <b>
                        The Impact Rankings 2023 AUMP has achieved an overall rank in range 801-1000 Globally by Times
                        Higher
                        Education Impact Rankings (THE Impact Rankings) out of 1591 Institutions and Overall Score :
                        57.3
                        out of
                        100.
                    </b>
                    <br>
                    <br>
                    <b>
                        Also in Sustainable Development Goal (SDG-4) pertaining to Decent Work and Economic Growth. and
                        ranked
                        301-400 out of 960 Institutions under SDG for Decent Work and Economic Growth.
                    </b>
                    The University has been accredited as “Premier University” by Accreditation Service for
                    International
                    Colleges (ASIC),
                    <br>
                    <br>
                    <b>
                        The Journal of Content, Community & Communication (JCCC) published by AUMP is Scopus Indexed and
                        ranked
                        first media journal in India and 5th in Asia.</b> The University has established

                    following five Centre of Excellence:
            </p>
            <!-- paragraph end  -->


            <!-- image start -->

            <img src="./image/university.jpg" class="img-fluid w-100 " alt="">

            <!-- image end -->


            <!--last div start-->
            <div class="row">
                <div class="col-md-8 mt-5">
                    <h2 style="color: #194880; font-weight: 600;">About Ritnand Balved Education Foundation (RBEF)</h2>
                    <p style="text-align: justify;">
                        Ritnand Balved Education Foundation (RBEF - an Umbrella organization of all Amity Institutions).
                        <br><br>

                        RBEF was established in 1986. Presently, more than 1,00,000 Students study in 240 programs
                        across 30
                        Amity campuses spread over 1000 Acres of land with more than 5.1 million sq. ft. of built-up
                        area.
                        <br><br>
                        More than 4000 faculty and staff members are dedicated to making Amity institutions world class
                        and
                        include leaders such as 12 former vice chancellors of renowned universities including Roorkee
                        University, the former vice chairman of the AICTE, 12 former Generals of the Indian Army, IAS
                        and
                        IPS officers, renowned scientists, former CEOs of PSUs and of course many brilliant
                        academicians.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="./image/amity_img.jpg" class="w-100" alt="">
                        </div>
                        <div class="col-md-6 mt-5">

                            <p style="text-align: justify;"><b>Amity imparts education in almost all areas including
                                    management, engineering,
                                    biotechnology, law, communication, insurance, nanotechnology, behavioral science,
                                    fine
                                    arts etc. The Amity Business School and the Amity Institute of Biotechnology have
                                    both
                                    been ranked No.1 in the country among private institutes.</b></p>

                        </div>
                        <p style="text-align: justify;">The Amity Institute of Telecommunication and Technology
                            Management
                            has also been ranked among the
                            top in the country and The Amity School of Engineering has been ranked No. 1 in terms of
                            placements.
                            <br><br>
                            Amity provides industry oriented professional courses and is at the cutting edge of
                            innovation.
                            The first Masters program in nanotechnology was started by Amity. Amity was also the first
                            in
                            the country to start a program in cyber law and the first to launch an insurance institute.
                            This
                            industry-oriented approach has ensured that Amity has 100% placements.
                            <br><br>
                            <b>Disclaimer :</b> Some websites are showing that, Amity University Madhya Pradesh having a
                            No.
                            of
                            affiliated Colleges particularly in Andhra Pradesh. We wish to inform all concern that Amity
                            University Madhya Pradesh does not have any affiliated College/ Institute as on date
                        </p>
                    </div>

                </div>

                <!--ranking start-->
                <div class="col-md-4">
                    <div class="ranking mt-5">
                        <div class="above-space">
                            <h4 class="text-center" style="padding-top: 15px;">
                                At a glance
                            </h4>
                        </div>
                        <div class="bullet pl-4 pr-4">
                            <ul>
                                <li>100 Acres state of the art smart campus</li>
                                <li>1000 seater on campus hostel for Boys & Girls</li>
                                <li>400+ Distinguished Faculty & Scientists</li>
                                <li>50 Hi Tech Labs</li>
                                <li>Library with 35,000+ books, 17,000+ online journals & 200 publications</li>
                                <li>Tie-ups with IBM, Oracle, Sun Microsystems for technical skill enhancement of the
                                    students</li>
                                <li>Amity Innovation Incubator to nurture entrepreneurial talent</li>
                                <li>5 acre sports complex with facilities like Tennis Court, Football Ground, Cricket
                                    Field
                                    etc</li>
                                <li>Multi Cuisine Cafeteria, Amul Ice Cream Parlour, ATM, Salon, Laundry, 24x7 clinic
                                    within
                                    the campus</li>
                                <li>Military Training for students to enhance personality</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--ranking end-->

            </div>
            <!--last div end-->



        </div>
        <!--container end -->

    </main>
    <!--main tag end-->


<%-include("./footer.ejs") %>