@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.form-container {
    background-image: linear-gradient(to right, #FFB702, #0A4E95);
    padding: 20px;
    border-radius: 5px;
}

#universityLogo {
    max-width: 100%;
    height: auto;
    margin: 20px;
}



/* navbar css start */

.navbar-toggler-icon {
    color: white; /* Change to your desired color */
}


.fadeIn a {
    color: white;
    position: relative;
    display: inline-block;
    font-weight: 500;

}

.fadeIn a:hover {
    color: black;
    background: #dba921;
    border-radius: 15px;
    transition: 0.7s;

}

.fadeIn2 a:hover {
    background: #dba921;
    border-radius: 0;
    transition: 0.7s;
    height: 100%;

}

/* navbar css end */



/* home css start */



/* home css end */


/* about page css start */

@media (max-width: 480px) and (min-width: 200px) {
    .fontset .responsive-font {
        font-size: 20px;

    }
}



@media (max-width: 767px) and (min-width: 320px) {

    .fontC .fontH {
        padding-left: 10px;
    }
}

.ranking {
    background: #0e385f;
    color: #FFF;
}

.bullet {
    margin: 20px 0;

}

.bullet li {
    list-style: none;
    position: relative;
}

.bullet li::before {
    content: '\2022';
    color: #dba921;
    left: 0;

}

.pl-4 {
    padding-left: 1.5rem !important;
}

.pr-4 {
    padding-right: 1.5rem !important;
}

.bullet li {
    line-height: 2.5;
    text-align: justify;
    padding-bottom: 5px;
}

/* about page css end */



/* contact css start */



/* contact css end */

/*footer css start*/

.no-bullets li {
    list-style: none;

}

.no-bullets li a {
    text-decoration: none;
    font-size: 14px;
    color: #999;
    padding-bottom: 10px;
    display: table;

}

.no-bullets li a:hover {
    text-decoration: underline;
    color: #FFF;
}

.list-inline-item a {
    padding-left: 15px;
}

/*footer css end*/